<md-content flex>
    <md-card>
        <md-card-content>

            <form ng-submit="meals.askMeal()" layout="column">
                <div layout="row">
                    <md-input-container flex>
                        <label>Número</label>
                        <input name="clientName" type="number" ng-model="meals.mealAsked.id">
                    </md-input-container>
                    <md-checkbox flex ng-model="meals.repeat" aria-label="Repetir">Repetir</md-checkbox>
                </div>

                <md-input-container>
                    <label>Cambio</label>
                    <md-select ng-model="meals.mealAsked.change">
                        <md-option ng-repeat="request in meals.possibleRequests" value="{{ request.id }}">
                            {{request.name }}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container ng-if="meals.repeat">
                    <label>Repetir</label>
                    <md-select ng-model="meals.mealAsked.doRepeat">
                        <md-option ng-repeat="repeat in meals.possibleRepeats" value="{{ repeat.id }}">
                            {{repeat.name }}
                        </md-option>
                    </md-select>
                </md-input-container>

                <div layout="row">
                    <md-datepicker  ng-model="meals.mealAsked.date" md-placeholder="Fecha"></md-datepicker>
                    <span flex></span>
                    <md-datepicker  ng-if="meals.repeat" ng-model="meals.mealAsked.endDate" md-placeholder="Hasta"></md-datepicker>
                </div>

                <div layout="row">
                <span flex></span>
                <md-button type="submit" flex="10" id="MealsButton" class="md-raised" ng-class="meals.MealError ? 'md-warn' : 'md-primary'" aria-label="Enviar">
                    <span>{{ meals.mealButtontext }}</span>
                </md-button>
                <span flex></span>
                </div>
            </form>

            <p ng-init="meals.getLastDay()">Fecha mínima actual: <b>{{meals.currentDate | date : 'dd-MM-yyyy' }}</b></p>

        </md-card-content>
    </md-card>


    <md-card ng-init="meals.myMeals()">
        <md-card-content>
            <h2>Mis pedidos</h2>
            <md-divider ></md-divider>
            <md-list-item class="md-3-line" ng-repeat="request in meals.myRequests| orderBy:'date'">
                <div class="md-list-item-text">
                    <h3><b>{{ request.id }}</b></h3>
                    <h4>{{ request.change }}</h4>
                    <p>{{ request.date | date:'dd-MM-yyyy' }}</p>
                </div>
                <md-button class="md-warn" ng-click="meals.deleteRequest(request._id)">Borrar</md-button>
            </md-list-item>
        </md-card-content>
    </md-card>
</md-content>

<md-fab-speed-dial ng-if="$root.userData.meals == true" md-open="false" md-direction="up" ng-class="'md-fling md-fab-bottom-right customFab'">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-primary hue-2" >
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Lista de comidas" class="md-fab md-raised md-mini" href="/mealrequests">
            <md-icon class="material-icons" aria-label="Lista de comidas">format_list_bulleted</md-icon>
        </md-button>
        <md-button aria-label="Actualizar fecha mínima" class="md-fab md-raised md-mini" ng-click="meals.NewDate()">
            <md-icon class="material-icons" aria-label="Actualizar fecha mínima">update</md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>   


