<md-card>
  <md-card-content>
    <md-button id="MealsButton" class="md-raised md-warn" aria-label="Actualizar" ng-click="meals.NewDate()">
      <span>Actualizar fecha</span>
    </md-button>
    <md-datepicker ng-model="meals.pickDate" ng-change="meals.getMeals(meals.pickDate)" md-placeholder="Fecha"></md-datepicker>
    <md-list>
      <md-subheader class="md-no-sticky">Listado</md-subheader>
      <md-list-item class="md-3-line" ng-repeat="(key, value) in meals.requests| groupBy: 'change' as requests">
        <div class="md-list-item-text">
        <h3>Group name: {{ key }}: <b>{{requests[key].length}}</b></h3>
        <li ng-repeat="user in value">
          {{ user.id }}<span ng-if="user.dietMeal"> (Dieta)</span> 
        </li>
        </div>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-card-content>
</md-card>