<md-card>
  <md-card-content ng-init="settings.loadSettingsData()">
  <md-list>
    <md-list-item class="noright" ng-click="settings.gotoUsersList()">
      <p>Ver lista de usuarios</p>
    </md-list-item>
    <md-list-item class="noright" ng-click="settings.gotoAddUser()">
      <p>Añadir nuevo usuario</p>
    </md-list-item>
    <md-list-item ng-click="settings.openDial(settings.clearAll,'LastDate', $event)" class="noright">
      <p>Resetear la última fecha de comidas (<b>{{settings.settingsData.lastMealsDate | date:'dd/MM/yyyy'}}</b>)</p>
    </md-list-item>
    <md-list-item ng-click="settings.openDial(settings.clearAll,'Meal', $event)" class="noright">
      <p>Borrar todas las comidas (<b>{{settings.settingsData.mealsInDB}}</b>)</p>
    </md-list-item>
    <md-list-item ng-click="settings.openDial(settings.clearAll,'User', $event)" class="noright">
      <p>Borrar todos los usuarios (<b>{{settings.settingsData.usersInDB}}</b>)</p>
    </md-list-item>
    <md-list-item ng-click="settings.openDial(settings.clearAll,'Book', $event)" class="noright">
      <p>Borrar todos los libros (<b>{{settings.settingsData.booksInDB}}</b>)</p>
    </md-list-item>
  </md-list>
  </md-card-content>
</md-card>